*~
*.pyc
*.dat
TAGS
*.egg-info
*.egg
.eggs/*
build
.coverage
.tox
.stestr
cover
venv
.venv
output.xml
*.sublime-workspace
*.sqlite
*.html
.*.swp
.DS_Store
.testrepository
versioninfo
var/*
ChangeLog
AUTHORS
subunit.log
covhtml/
doc/source/reference/api

# Files created by releasenotes build
releasenotes/build

#Files created by functional tests
functional_testing.conf
